<h1>All Posts</h1>

<% @posts.each do |post| %>
  <% if current_user.nil? %>
    <div class = "input">
      <%= post.input %>
    </div>
  <% else %>
    <div class = "author_input">
     <%= post.author.name + '  |  ' + post.input%>
    </div>

  <% end %>
<% end %>
